<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232181553323-2e6e220l433k2k68g346rtimv8do615u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232181553323-2e6e220l433k2k68g346rtimv8do615u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>232181553323-6p4ick8849rjcfaqprl879t97pc9ki1c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKL3I1JVeaXa5_GUASLO3PTUXWUlACHgM</string>
	<key>GCM_SENDER_ID</key>
	<string>232181553323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.logicabooleana.sell</string>
	<key>PROJECT_ID</key>
	<string>commer-ef151</string>
	<key>STORAGE_BUCKET</key>
	<string>commer-ef151.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232181553323:ios:f4a16db9ccee94e09b3fee</string>
	<key>DATABASE_URL</key>
	<string>https://commer-ef151.firebaseio.com</string>
</dict>
</plist>